{% extends 'acc/base.html' %}
{% block content %}
    <main class="index">
        <p class="index-paragraph">В нашата компания обичаме да казваме, че човек се отнася със себе си, така както се отнася
        към финансите си. Започнете веднага да водите отчет, за да не се чудите къде отиват парите ви
        изкарани с пот на челото. Така ще можете да спесите за подаръци за близките, приятни екскурзии до
        екзотични места или да започнете да инвестирате!</p>
    </main>
{% endblock content %}
